.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000001;
    top: 0;
    left: 0;
    background-color: coral;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #2d3748;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*Landing Page (Home) Start*/

.carousel-item {
    height: 70vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.img-fluid {
    height: auto;
    width: 100%;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.containerLandingPage{

    text-align: center;
    color: coral;

}

.btnLogin {
    border-radius: 5px;
    color: coral;
    background-color: #f1f1f1;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    opacity: 75%;

}

.btnLogin:hover {
    opacity: 100%;
}

/*profile page*/

#profileBtn{
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 36px;
    margin-left: 0px;

}
 /*endofprofilepage*/

/*cv page*/

.cv {
    /*margin-left:auto;*/
    /*margin-right:auto;*/
    width: 1200px;
    /*height: 450px;*/
    padding:10px;
    background-color: coral;
    color: #f1f1f1;
    font-size: large;
    border-radius: 10px;

}

.cvProperties{
    font-weight: bold;
}

.opleidingsGraad{
    width: 1200px;
    padding:5px;
    border-color: #2d3748;
    border-width: 2px;
    border-radius: 10px;


}

.overig{
    width: 590px;
    padding:5px;
    border-color: #2d3748;
    border-width: 2px;
    border-radius: 10px;

}

/*end of cv page*/

/*start of docent dashboard*/



.search {
    width: 100%;
    height:100%;
    position: relative;
    display: inline-flex;
}

/*.searchTerm {*/
/*    width: 100%;*/

/*    border: 3px solid coral;*/
/*    border-right: none;*/
/*    padding: 5px;*/
/*    height: 36px;*/
/*    border-radius: 5px 0 0 5px;*/
/*    outline: none;*/
/*    color: #9DBFAF;*/
/*}*/

/*.searchTerm:focus{*/
/*    color: #00B4CC;*/
/*}*/

.btnSearch{
   padding: 2px;
    border: 1px solid coral;
    background: coral;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;

}






.wrap{
/*    width: 30%;*/
    position: absolute;
    top: 50%;
    left: 30%;
/*    transform: translate(-50%, -50%);*/
}


/*studentDashboard*/

html , body{
    height: 100%;
}

#darkMain{
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    opacity: 100;
    z-index: 1000000;
    display: none;
    height: 100%;
    width: 100%;
}

#menuBtn{
    position: fixed;
    height: 100%;
    background-color: coral;
    padding: 15px;
    border-right: 1px solid black;
    transition: 0.5s;
    z-index: 999999;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
}

#container{
    margin: 20px;
    width: 200px;
    height: 200px;
}

.btn-bg-color{
    background-color: #1a202c;
    color: white;
}

.btn-bg-color:hover{
    background-color: #0e1218;
    color:gray;
}

div.container-fluid#main{
    padding-left: 150px;
}

#accordionComp [data-toggle="collapse"] i:before {
    content: "\f068";
}

#accordionComp [data-toggle="collapse"].collapsed i:before {
    content: "\f067";
}

#accordionComp .card-header {
    margin-bottom: 8px;
}
#accordionComp .accordion-title {
    position: relative;
    display: block;
    padding: 8px 0 8px 50px;
    background: #213744;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    text-align: left;
    transition: all 0.4s ease-in-out;
}
#accordionComp .accordion-title i {
    position: absolute;
    width: 40px;
    height: 100%;
    left: 0;
    top: 0;
    color: #fff;
    background: radial-gradient(rgba(33, 55, 68, 0.8), #213744);
    text-align: center;
    border-right: 1px solid transparent;
}
#accordionComp .accordion-title:hover {
    padding-left: 60px;
    background: #213744;
    color: #fff;
}
#accordionComp .accordion-title:hover i {
    border-right: 1px solid #fff;
}
#accordionComp .accordion-body {
    padding: 40px 55px;
}
#accordionComp .accordion-body ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
#accordionComp .accordion-body li {
    padding-left: 1.2rem;
    text-indent: -1.2rem;
}
#accordionComp .accordion-body li:before {
    content: "\f10a";
    padding-right: 5px;
    font-family: "Flaticon", serif;
    font-size: 16px;
    font-style: normal;
    color: #213744;
}

.is-invalid {
    border: 1px solid red !important;
}

.bg-gray{
    background-color: grey;
}

.card-profile {
    border: 0;
    margin-bottom: 30px;
    margin-top: 100px;
    border-radius: 6px !important;
    color: rgba(0,0,0,.87);
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    text-align: center;
}

.card.card-profile .card-header.card-header-image {
    position: relative;
    padding: 0;
    z-index: 1;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    max-height: 215px;
}

.card.card-profile .card-header.card-header-image img {
    width: 100%;
    height: 215px;
    border-radius: 6px;
    pointer-events: none;
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}

.card.card-profile .card-header.card-header-image .colored-shadow {
    transform: scale(.94);
    top: 12px;
    filter: blur(12px);
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    transition: opacity .45s;
    opacity: 1;
}

.card-profile .card-body{
    padding: .9375rem 1.875rem;
    margin-top: 15px;
}

.card-profile .card-title{
    font-weight: 700 !important;
    margin-top: 10px;
    color: #3c4858;
    font-family: Roboto Slab,Times New Roman,serif;
}

.card.card-profile .card-category {
    margin-top: 15px;
    margin-bottom: 10px;
}

.card.card-profile .card-body+.card-footer {
    padding-top: 0;
    border: 0;
    border-radius: 6px;
    margin-top: -15px;
}

.card.card-profile .card-footer {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    padding: .9375rem 1.875rem;
}

.card-profile .card-footer .btn.btn-just-icon{
    font-size: 20px;
    padding: 12px 13px;
    line-height: 1em;
}

/*.select2-container{*/
/*    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;*/
/*    border-radius: 0.375rem;*/
/*    appearance: none;*/
/*    background-color: #ffffff;*/
/*    border-color: #d2d6dc;*/
/*    border-width: 1px;*/
/*    font-size: 1rem;*/
/*    line-height: 1.5;*/
/*}*/

/*.select2-selection{*/
/*    border: none !important;*/
/*}*/


.searchUser2 .select2-selection{
    border: none !important;
}

.searchUser2 .select2-container {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    border-radius: 0.375rem;
    appearance: none;
    background-color: #ffffff;
    border-color: #d2d6dc;
    border-width: 1px;
    font-size: 1rem;
    line-height: 1.5;
}

#formModal .select2-container{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    border-radius: 0.375rem;
    appearance: none;
    background-color: #ffffff;
    border-color: #d2d6dc;
    border-width: 1px;
    font-size: 1rem;
    line-height: 1.5;
}

#formModal .select2-selection{
    border: none !important;
}

/*qualification File Student start*/
.qualification-list{
    width:1000px;
    margin:0 auto 50px auto;
    padding:50px;
    background: rgb(244,155,83);
    background: linear-gradient(90deg, rgba(244,155,83,1) 0%, rgba(255,229,181,1) 100%);
    position:relative;
    /*box-shadow*/
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    /*border-radius*/
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.qualification-list:before{
    content:"";
    position:absolute;
    z-index:-1;
    /*box-shadow*/
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.4);
    box-shadow:0 0 20px rgba(0,0,0,0.4);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    /*border-radius*/
    -webkit-border-radius:100px / 10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.qualification-wrap{
    display:block;
    position:relative;
    padding-left:35px;
    /*box-shadow*/
    -webkit-box-shadow:0 2px 0 -1px #ebebeb;
    -moz-box-shadow:0 2px 0 -1px #ebebeb;
    box-shadow:0 2px 0 -1px #ebebeb;
}
.qualification-wrap:last-of-type{
    /*box-shadow*/
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
input[type="checkbox"].compCheckBox{
    position:absolute;
    height:0;
    width:0;
    opacity:0;
    top:-600px;
}

.qualification{
    display:inline-block;
    font-weight:200;
    padding:10px 5px;
    height:37px;
    position:relative;
}
.qualification:before{
    content:'';
    display:block;
    position:absolute;
    top:calc(50% + 2px);
    left:0;
    width:0%;
    height:1px;
    background:#cd4400;
    /*transition*/
    -webkit-transition:.25s ease-in-out;
    -moz-transition:.25s ease-in-out;
    -o-transition:.25s ease-in-out;
    transition:.25s ease-in-out;
}
.qualification:after{
    content:'';
    display:block;
    position:absolute;
    z-index:0;
    height:18px;
    width:18px;
    top:9px;
    left:-25px;
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 2px #d8d8d8;
    -moz-box-shadow:inset 0 0 0 2px #d8d8d8;
    box-shadow:inset 0 0 0 2px #d8d8d8;
    /*transition*/
    -webkit-transition:.25s ease-in-out;
    -moz-transition:.25s ease-in-out;
    -o-transition:.25s ease-in-out;
    transition:.25s ease-in-out;
    /*border-radius*/
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

.qualification .fa-check{
    position:absolute;
    z-index:1;
    left:-31px;
    top:0;
    font-size:1px;
    line-height:36px;
    width:36px;
    height:36px;
    text-align:center;
    color:transparent;
    text-shadow:1px 1px 0 white, -1px -1px 0 white;
}

:checked + .qualification .fa-check{
    font-size:20px;
    line-height:35px;
    color:#0eb0b7;
}

#h3qualificationDone{
    color: #f1f1f1;
}

#h3qualificationNotDone{
    color: #f1f1f1;
}



